* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.jsonl text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.apng binary
*.ttf binary
*.otf binary
*.mp3 binary
*.mp4 binary
